<div class="nav">
  <input type="checkbox" [(ngModel)]="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <b>
        <a class="opacity" routerLink="/">
          <div class="svg__icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG/SURBVGhD7ZlNK0VRFIZvUaSIASlMDI1IJBMpUxNlYkTyUT4yMzFQUvgBJkZiLP+AP2BMyYyShImBCO97tOp027r32mvtdFtPPYO9T633vpPTvvsUHOd/MAhX4LqxzBiA6nTCc/iV2DPYAVVohtdQhr/CG2OZIXnMboTRbEMO/IRLsAZaUwuXITOZvQWjuYIcdpit0sJMZl9mq0jeIIfNZqsfpuG8kZwtMJPZ/A3RcBCdylY/vEDZ15azBWbKfjQyyItUqBcphQyqyiJrMHS00JCzBfMiqfAiIbyIAkmKNMAWRZtgMeZFxuEHlGdabsI85kXmoOxregDzmBchQ3BM0RFYB/MkKZICLxLityI9sF/RXsi/uHnMi8xA2dd0H+YxLzIB5WJA0x2Yx7wIaYPdinbBYpIUSYEXCREqwrcLjymTZcq30l8wL7IKZb8c32E7rBTzIqPwGcqzUl7Aelgp5kVS4UVCeBEFvEiIqinyCDloI1ulhZnMfshWkZxCDruFrdxIBA+ld5DZJ9yIZRjKjck93IWhL02a7kFmMZPZvB9QYRFaXP+UkpkLUJU+eAz5ufjJWGYcQWY6juMIhcI3MUZHn4HX7qUAAAAASUVORK5CYII="></div>
          MY BLOG
        </a>
      </b>
    </div>
  </div>
  <div class="nav-btn">
    <label class="lbl-menu" for="nav-check" >
      <span class="nav-btn-inner">
        <span class="menu-icon menu-icon-first"></span> 
        <span class="menu-icon menu-icon-second"></span> 
        <span class="menu-icon menu-icon-third"></span></span>
    </label>
  </div>
  <div class="nav-links">
    <a routerLink="/admin-list" (click)="closeMenu()">
      <img class="admin__icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEzSURBVEhL5dQ9K8VxFMDxv8eLCMsd5BVIUh6KMutOlE1WyoD3YFEWES9BeQPKzmJSZCDJwiBZMMnD99T91ek43HR+i3zrs/wfzul/7/3f4l/XjgoWMIMuZG8ZT/hQ7jGOemRpHnqBdYxOhGrAHbwF2hpCDcAbbJ0h1CS8wdYDQvXBG2ydIlQLnuEN13YRagTeYOsKoeQlvYY3XNtEuEF4w5NzZGsP3pJ3TCNbrbiAXbSO7B3CLlpE1sYgL6VdJMvbEK6MFdxABr/gseq1euwAU2jCr2rELPaRhiUyVOqBLNXn5Il3MISa9eIEeoA1gW1zTJNf4hbq8G1H8G7W+rFqjnmW4DYM7wYt/dWMwjuvXcJtDt4N2gYk+Vhu4V2TvKEZXyqhuwa5JtUB7xrtx+/pL1cUn1ayzaWy8mkqAAAAAElFTkSuQmCC">
      Admin area
    </a>
  </div>
</div>
