  
  $top-color:#eeeeee;
  $second-color: #444;

  .nav {
    height: 50px;
    width: 100%;
    background-color: #eeeeee;
    position: fixed;
    padding: 0.5em 0 0.5em 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    top: 0;
    z-index: 5;
  }

  
  .lbl-menu {
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;
  }
  
  .lbl-menu:hover .menu-icon-first {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
  
  .lbl-menu:hover .menu-icon-third {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0);
  }
  
  input[type="checkbox"]:checked~ .nav-btn .lbl-menu .menu-icon-first {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
    transform: translate3d(0, 8px, 0) rotate(45deg);
    background: #444;
  }
  
  input[type="checkbox"]:checked~ .nav-btn .lbl-menu .menu-icon-second {
    opacity: 0;
  }
  
  input[type="checkbox"]:checked~ .nav-btn .lbl-menu .menu-icon-third {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
    transform: translate3d(0, -8px, 0) rotate(-45deg);
    background: #444;
  }
  
  input[type="checkbox"]:checked~nav {
    -webkit-transform: translate3d(280px, 0, 0);
    transform: translate3d(280px, 0, 0);
  }
  
  .nav-btn-inner {
    display: block;
    width: 26px;
    height: 21px;
    margin: 13px auto 0 auto;
    position: relative;
  }
  
  .menu-icon {
    background: #444;
    height: 3px;
    margin-bottom: 5px;
    width: 100%;
    display: block;
    position: absolute;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
    z-index: 1;
  }
  
  .menu-icon.menu-icon-first {
    top: 0;
  }
  
  .menu-icon.menu-icon-second {
    top: 8px;
  }
  
  .menu-icon.menu-icon-third {
    top: 16px;
  }
  
  .nav > .nav-header {
    display: inline;
    padding: 0 0 0 2em;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: $second-color;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 1em;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: $second-color;
    cursor: pointer;
  }
  
  .nav > .nav-links > a:hover {
    background-color: #dbd9d9;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:767px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
    //   width: 50px; 
    //   height: 50px;
      padding: 10px 15px 22px 20px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #e4e4e4;
    }
    .nav > .nav-btn > label > span {
      // display: block;
      // width: 25px;
      // height: 8px;
      // border-top: 4px solid $second-color;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #e4e4e4;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 67px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      text-align: center;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }