
:host {
	flex: 0 0 30px;
	display: flex;
	.pagination {
        width: 100%;
        /* position: relative; */
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 15px;
		.description {
			// position: absolute;
			// top: 50%;
			// transform: translate(0, -50%);
            // left: $base;
            font-size: 16px;
            color: #444;
            margin-bottom: 10px;
            font-weight: bold;

			.page-counts {
				// margin-right: $base * 2;
			}
        }

		.numbers {
			display: block;
			text-align: center;
            flex: 1;

			button {
				flex: 0 0 auto;
				outline: none;
                border: 1px solid rgb(169, 169, 169);
                border-radius: 0;
				// padding: 0 ($base / 2);
				background: #FFF;
                cursor: pointer;
                color: #444;
                padding: 15px 18px;

                &:hover {
                    opacity: 0.9;
                }

				&.active {
                    // @extend .h6;
                    background-color: #444;
                    color: #FFF;
                    font-weight: bold;
                }

				&.disabled {
					// @extend .link-disabled;
                    // color: $lightgrey;
                    // background-color: #fff;
                    color: #777;
                    background-color: #f1eded
				}
			}
        }
	}
}